- hosts: taku-k-me
  become: yes
  vars:
    services_dir: /services
    app_dir: /services/taku-kme
    branch: master
  tasks:
    - name: Create services directory
      file: path={{ services_dir }} state=directory owner=taku group=taku mode=0755
    - name: Installed nginx
      apt: name=nginx state=present
    - name: Update repository
      git: repo=git@github.com:taku-k/taku-kme.git dest={{ app_dir }} version={{ branch }} update=yes
      become: no
    - name: Put nginx.conf
      template: src=config/nginx.conf dest=/etc/nginx/nginx.conf
    - name: Set auto start nginx
      command: update-rc.d nginx enable
    - name: Restart nginx
      service: name=nginx state=restarted
    - cron: name="ssl cerf auto renewal" weekday="1" minute=30 hour=2
        user="root" job="/usr/local/sbin/certbot-auto renew >> /var/log/le-renew.log"
        cron_file=ssl_cerf_auto_renewal
    - cron: name="nginx reload" weekday="1" minute=35 hour=2
        user="root" job="/etc/init.d/nginx reload"
        cron_file=nginx_reload
