version: '3'
services:
  web:
    image: takuk/taku-kme:latest
    ports:
      - '5000:80'
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
