html {height: 100%;}
body {
    color: #fff;
    font-family: 'Lobster', "helvetica", cursive;
    text-align: center;
    height: 100%;
    margin: 0;
}
.content{
    margin-top: 20%;
}
.content h1 {
    font-size: 55px;
    line-height: 55px;
    color: #4f5963;
}
.icon {
    margin: 1em, 0, 0, 0;
    padding: 5px;
}
a {
    color: #0881b3;
    text-decoration: none;
}
a:hover {
    color: #4f5963;
    border: none;
}
